[ ca ]
default_ca              = CA_EoleCI

[ CA_EoleCI ]
dir                     = /mnt/eole-ci-tests/security/pki/db
certs                   = /mnt/eole-ci-tests/security/pki/db
new_certs_dir           = /mnt/eole-ci-tests/security/pki/db/ca.db.certs
database                = /mnt/eole-ci-tests/security/pki/db/ca.db.index
serial                  = /mnt/eole-ci-tests/security/pki/db/ca.db.serial
RANDFILE                = /mnt/eole-ci-tests/security/pki/db/ca.db.rand
certificate             = /mnt/eole-ci-tests/security/pki/certificats/ACEoleCI.crt
private_key             = /mnt/eole-ci-tests/security/pki/certificats/ACEoleCI.pem
default_days            = 3000
default_crl_days        = 30
default_md              = sha256
preserve                = no
policy                  = policy_anything
    
[ policy_anything ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_bits        = 1024
default_keyfile     = privkey.pem
distinguished_name  = req_distinguished_name
attributes          = req_attributes
x509_extensions     = v3_ca

[ req_distinguished_name ]
countryName             = Nom du pays (2 lettres)
countryName_min         = 2
countryName_max         = 2
stateOrProvinceName     = Région
localityName            = Ville
organizationalUnitName  = Unitée
commonName              = CommonName
commonName_max          = 64
emailAddress            = Email
emailAddress_max        = 64

countryName_default            = FR
stateOrProvinceName_default    = bourgogne
localityName_default           = dijon
organizationName_default       = eole
organizationalUnitName_default = ci
emailAddress_default           = 
# SET-ex3           = SET extension number 3

[ req_attributes ]
[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ v3_intermediate_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ server_cert_ssl ]
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ server_cert_vpn ]
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
keyUsage = critical, digitalSignature, keyEncipherment

[ server_cert_mail ]
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth, emailProtection

